<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <h5>Jason Telfer</h5>
            <h6>web developer</h6>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            email: <a href="mailto:jason@jasont.dev">jason@jasont.dev</a>
        </div>
        <div class="col">
            github: <a href="https://github.com/jasontdev">jasontdev</a>
        </div>
    </div>
    <div class="">
    </div>
    <div>
    </div>
</div>