<div class="d-flex justify-content-between">
    <span class="navbar-brand">jasont.dev</span>
    <ul class="nav">
        <li class="nav-item"><a href="{{"/" | url}}" class="nav-link">About</a></li>
      <li class="nav-item">
          <a href="{{ "/blog" | url }}" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
          <a href="{{"/portfolio" | url }}" class="nav-link">Portfolio</a>
      </li>
    </ul>
  </div>
